<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
    <title>CausalGraph Visualiser</title>
  </head>

  <body>
    <div class="container">
      <!--<h1>CSV zu DOT</h1>-->

      <!--PAG Section START-->
      <div class="pag-section">
        <h2>PAG Matrix</h2>
        <input type="file" id="pagCsvFileInput" accept=".csv" />

        <textarea
          id="pagDotToMatrixOutput"
          placeholder="Matrix wird hier angezeigt..."
          rows="10"
          cols="50"
        ></textarea>
        <!-- readonly entfernt -->

        <div class="button-container">
          <button id="pagInitializeButton" class="button">Einlesen</button>
          <button id="pagToDotButton" class="button">Matrix -> DOT</button>
          <button id="dotToMatrixButton" class="button">DOT -> Matrix</button>
          <button id="pagDotVisualizationButton" class="button">Force-Visualisierung</button>
        </div>
        <!--maybe pagToMatrixButton besserer name als dotToMatrixButton?!-->

        <!--Mit Tests checken, nen limit ergibt ja keinen Sinn eig-->
        <textarea
          id="pagMatrixToDotOutput"
          placeholder="DOT-Syntax erscheint hier..."
          rows="10"
          cols="50"
        ></textarea>
        <!-- readonly entfernt -->
      </div>
      <!--PAG Section END-->

      <!--VISUAL SECTION START-->

      <div id="graph-container"></div>

      <!--VISUAL SECTION END-->

      <!--ADMG SECTION START-->
      <div class="admg-section">
        <h3>AMDG Matrix</h3>

        <div class="admg-input-group">
          <div class="admg-input-item">
            <!--<label>Bidirectional Matrix (dashed edges):</label>-->
            <input type="file" id="admgBidirectionalCsvInput" accept=".csv" />
            <textarea
              id="admgBidirectionalMatrixOutput"
              placeholder="Bidirectional Matrix wird hier angezeigt..."
              rows="10"
              cols="50"
            ></textarea>
          </div>

          <div class="admg-input-item">
            <!--<label>Directed Matrix (directed edges):</label>-->
            <input type="file" id="admgDirectedCsvInput" accept=".csv" />
            <textarea
              id="admgDirectedMatrixOutput"
              placeholder="Directed Matrix wird hier angezeigt..."
              rows="10"
              cols="50"
            ></textarea>
          </div>
        </div>

        <div class="button-container">
          <button id="admgInitializeButton" class="button">Einlesen</button>
          <button id="admgMatrixToDotButton" class="button">
            Matrix -> DOT
          </button>
          <button id="admgDotToMatrixButton" class="button">
            DOT -> Matrix
          </button>
          <button id="admgDotVisualizationButton" class="button">Visualisieren</button>
        </div>

        <textarea
          id="admgDotOutput"
          placeholder="DOT-Syntax erscheint hier..."
          rows="10"
          cols="50"
        ></textarea>
      </div>
      <!--ADMG SECTION END-->
    </div>
    <!--lieber local eine feste version haben oder per cloudflare import?-->
    <script src = https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js></script>
    <script src="../js/main.js"></script>
    <!-- implementing von .js datein am Ende is good practice -->
  </body>
</html>
